html {
    height: 100%;
    overflow: hidden;
    background-color: black;
}
body { 
    position: relative;
    height: 100%;
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

fieldset {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'pixel-invaders-font';
    src: url('../pixel-invaders.ttf');
}

#invasion-land {
    position: absolute;
    top: 72px;
    left: 0;
    width: 25em;
}

html { 
  background: url("../img/dark_sky.gif") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

#invasion-land, #invasion-land * {
    font-family: "pixel-invaders-font";
    font-size: 160%;
    color: white;
    user-select: none;
}

#toolbar span {
    color: #33ff00;
    width: 2em;
    text-align: right;
    display: inline-block;
}

#cannon {
    position: absolute;
    bottom: 25px;
    left: 0;
    right: 0;
    user-select: none;
}

#toolbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background-color: #bb7272;
    height: 40px;
    text-align: center;
    z-index: 99;
    line-height: 40px;
}

#toolbar fieldset {
    display: inline-block;
    border: none;
}

#toolbar fieldset::after {
    content: '';
    display: inline-block;
    width: 10px;
}

#toolbar fieldset.esc {
    float: left;
    color: white;
    padding-left: 1em;
}

.mamaship {
    color: red;
    display: block;
    height: 32px;
    position: absolute;
    right: -201px;
    font-size: 50px;
    font-family: "pixel-invaders-font";
}
.mamaline {
    overflow: hidden;
    position: absolute;
    height: 32px;
    top: 40px;
    left: 0;
    right: 0;
}

#toolbar fieldset label {
    color: white;
    text-transform: uppercase;
}

.bblock {
    display: inline-block;
    margin: 6px;
    padding: 5px;
    width: 1em;
    height: 1em;
}

#life_lost_wall {
    position: absolute;
    bottom: 75px;
    left: 0;
    right: 0;
    height: 2px;
}


hr {
    position: fixed;
    bottom: 2px;
    left: 0;
    right: 0;
    color: #33ff00;
    border-style: double;
    border-width: 1px;
}

.bspace {
    display: inline-block;
    margin: 6px;
    padding: 5px;
    width: .1em;
    height: 1em;
}

#dialogs {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    z-index: 999;
    background-color: black;
    text-align: center;
    color: green;
    font-size: xx-large;

}

#dialogs button{
    font-size: xx-large;
    box-shadow: 2px 3px green;
    transition: box-shadow .3s, color 1s;
}

#dialogs button:hover {
    box-shadow: 1px 4px yellow;
    color: green;
}

.invadersDemo {
    font-family: 'pixel-invaders-font';
    font-size: xx-large;
}
